Sorting and Ranking

In [2]:
import pandas as pd
import numpy as np

## Sorting in Series

In [3]:
ser = pd.Series([5,0,3,8,4], index = ['red', 'green', 'blue', 'white', 'black'])

In [4]:
# index will be sorted by alphabetical order
ser.sort_index()

black    4
blue     3
green    0
red      5
white    8
dtype: int64

In [5]:
# index will be sorted by alphabetical order but starting from end of alphabet
ser.sort_index(ascending = False)

white    8
red      5
green    0
blue     3
black    4
dtype: int64

In [16]:
ser.sort_values()

green    0
blue     3
black    4
red      5
white    8
dtype: int64

In [17]:
ser.sort_values(ascending=False)

white    8
red      5
black    4
blue     3
green    0
dtype: int64

In [25]:
ser.rank()

red      4.0
green    1.0
blue     2.0
white    5.0
black    3.0
dtype: float64

## Sorting in DataFrame

In [6]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                     index = ['red', 'blue', 'green', 'white'],
                    columns = ['pen', 'book', 'pencil', 'eraser'])

In [7]:
frame

       pen  book  pencil  eraser
red      0     1       2       3
blue     4     5       6       7
green    8     9      10      11
white   12    13      14      15

In [8]:
frame.sort_index()

       pen  book  pencil  eraser
blue     4     5       6       7
green    8     9      10      11
red      0     1       2       3
white   12    13      14      15

In [9]:
frame.sort_index(ascending=False)

       pen  book  pencil  eraser
white   12    13      14      15
red      0     1       2       3
green    8     9      10      11
blue     4     5       6       7

In [10]:
frame.sort_index(axis=1)

       book  eraser  pen  pencil
red       1       3    0       2
blue      5       7    4       6
green     9      11    8      10
white    13      15   12      14

In [11]:
frame.sort_index(ascending=False, axis=1)

       pencil  pen  eraser  book
red         2    0       3     1
blue        6    4       7     5
green      10    8      11     9
white      14   12      15    13

In [19]:
frame.sort_values(by='pen')

       pen  book  pencil  eraser
red      0     1       2       3
blue     4     5       6       7
green    8     9      10      11
white   12    13      14      15

In [20]:
frame.sort_values(by=['pen', 'book'])

       pen  book  pencil  eraser
red      0     1       2       3
blue     4     5       6       7
green    8     9      10      11
white   12    13      14      15