In [1]:
import pandas as pd
import numpy as np

### Assigning a NaN Value

In [3]:
ser = pd.Series([0,1,2,np.NaN,9], index = ['white', 'blue', 'red', 'black', 'green'])
ser

white    0.0
blue     1.0
red      2.0
black    NaN
green    9.0
dtype: float64

In [4]:
ser['white'] = None
ser

white    NaN
blue     1.0
red      2.0
black    NaN
green    9.0
dtype: float64

### Filtering NaN Values

In [5]:
ser.dropna()

blue     1.0
red      2.0
green    9.0
dtype: float64

In [6]:
ser[ser.notnull()]

blue     1.0
red      2.0
green    9.0
dtype: float64

In [7]:
frame = pd.DataFrame([[6,np.nan,6],[np.nan,np.nan,np.nan], [2, np.nan, 5]],
                    index = ['red', 'blue', 'white'],
                    columns = ['pen', 'mug', 'pencil'])
frame

       pen  mug  pencil
red    6.0  NaN     6.0
blue   NaN  NaN     NaN
white  2.0  NaN     5.0

In [8]:
frame.dropna()

Empty DataFrame
Columns: [pen, mug, pencil]
Index: []

In [9]:
frame.dropna(how='all')

       pen  mug  pencil
red    6.0  NaN     6.0
white  2.0  NaN     5.0

### Filling in NaN

In [10]:
frame.fillna(0)

       pen  mug  pencil
red    6.0  0.0     6.0
blue   0.0  0.0     0.0
white  2.0  0.0     5.0

In [11]:
frame.fillna({'pen':-1, 'mug':-2, 'pencil':-3})

       pen  mug  pencil
red    6.0 -2.0     6.0
blue  -1.0 -2.0    -3.0
white  2.0 -2.0     5.0