In [1]:
import pandas as pd
import numpy as np

In [2]:
hierser = pd.Series(np.random.random(8), 
                   index = [['white', 'white', 'white', 'blue', 'blue', 'red', 'red', 'red'],
                   ['up', 'down', 'right', 'up', 'left', 'up', 'down', 'left']])
hierser

white  up       0.067173
       down     0.864282
       right    0.316889
blue   up       0.649313
       left     0.477217
red    up       0.944214
       down     0.823917
       left     0.977993
dtype: float64

In [3]:
hierser.index

MultiIndex(levels=[['blue', 'red', 'white'], ['down', 'left', 'right', 'up']],
           codes=[[2, 2, 2, 0, 0, 1, 1, 1], [3, 0, 2, 3, 1, 3, 0, 1]])

In [4]:
hierser['white']

up       0.067173
down     0.864282
right    0.316889
dtype: float64

In [8]:
hierser[:,'up']

white    0.067173
blue     0.649313
red      0.944214
dtype: float64

In [9]:
hierser['blue', 'up']

0.6493128380054948

In [10]:
hierser.unstack()

           down      left     right        up
blue        NaN  0.477217       NaN  0.649313
red    0.823917  0.977993       NaN  0.944214
white  0.864282       NaN  0.316889  0.067173

In [11]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                    index = ['red', 'blue', 'white', 'black'],
                    columns = ['pen', 'book', 'mug', 'totebag'])

In [12]:
frame

       pen  book  mug  totebag
red      0     1    2        3
blue     4     5    6        7
white    8     9   10       11
black   12    13   14       15

In [13]:
frame.stack()

red    pen         0
       book        1
       mug         2
       totebag     3
blue   pen         4
       book        5
       mug         6
       totebag     7
white  pen         8
       book        9
       mug        10
       totebag    11
black  pen        12
       book       13
       mug        14
       totebag    15
dtype: int64

In [16]:
frame2 = pd.DataFrame(np.arange(16).reshape(4,4),
                    index = [['red', 'red', 'blue', 'blue'],['up', 'down', 'up', 'down']],
                    columns = [['pen', 'pen', 'mug', 'mug'],[1 , 2, 1, 2]])

In [17]:
frame2

          pen     mug
            1   2   1   2
red  up     0   1   2   3
     down   4   5   6   7
blue up     8   9  10  11
     down  12  13  14  15

In [18]:
frame2.columns.names = ['objects', 'id']
frame2.index.names = ['color', 'status']

In [19]:
frame2

objects      pen     mug
id             1   2   1   2
color status
red   up       0   1   2   3
      down     4   5   6   7
blue  up       8   9  10  11
      down    12  13  14  15

In [20]:
frame2.swaplevel('color', 'status')

objects      pen     mug
id             1   2   1   2
status color
up     red     0   1   2   3
down   red     4   5   6   7
up     blue    8   9  10  11
down   blue   12  13  14  15

In [22]:
frame2.sum(level='color')

objects pen     mug
id        1   2   1   2
color
red       4   6   8  10
blue     20  22  24  26