In [1]:
import numpy as np
import pandas as pd

## Reading Data CSV

In [2]:
datacsv = pd.read_csv('myCSV01.csv')

In [3]:
datacsv

   white   red   blue   green  animal
0      1     5      2       3     cat
1      2     7      8       5     dog
2      3     3      6       7   horse
3      2     2      8       3    duck
4      4     4      2       1   mouse

In [4]:
pd.read_table('myCSV01.csv', sep=',')

/home/elga/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   white   red   blue   green  animal
0      1     5      2       3     cat
1      2     7      8       5     dog
2      3     3      6       7   horse
3      2     2      8       3    duck
4      4     4      2       1   mouse

## Writing to CSV

In [5]:
frame = pd.DataFrame(np.random.random(16).reshape(4,4),
                    index=['white', 'black', 'green', 'blue'],
                    columns=['a', 'b', 'c', 'd'])

In [6]:
frame.to_csv('frametocsv.csv')

In [7]:
frame.to_csv('frametocsv2.csv', index=False, header=False)

In [10]:
frame2 = pd.DataFrame([[6,np.nan, np.nan, 6, np.nan],[np.nan, np.nan, np.nan, np.nan, np.nan]],
                     index= ['red', 'white'],
                     columns= ['pen', 'mug', 'pencil', 'glass', 'jar'])
frame2

       pen  mug  pencil  glass  jar
red    6.0  NaN     NaN    6.0  NaN
white  NaN  NaN     NaN    NaN  NaN

In [12]:
frame2.to_csv('na_rep.csv', na_rep='NULL')

## Writing and Reading to HTML

In [13]:
frame3 = pd.DataFrame(np.arange(4).reshape(2,2))

In [15]:
print(frame3.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [16]:
frame4 = pd.DataFrame(np.random.random((4,4)),
                     index = ['white', 'black', 'green', 'blue'],
                     columns = ['up', 'down', 'right', 'left'])
frame4

             up      down     right      left
white  0.666239  0.413458  0.570926  0.728232
black  0.052431  0.559741  0.029672  0.275942
green  0.238792  0.206234  0.595024  0.738214
blue   0.258157  0.279205  0.654155  0.093681

In [17]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame4.to_html())
s.append('</BODY></HTML>')
html = "".join(s)

In [18]:
html_file = open('frame.html', 'w')

In [19]:
html_file.write(html)

837

In [20]:
html_file.close()

In [21]:
web_frame = pd.read_html('frame.html')
web_frame[0]

  Unnamed: 0        up      down     right      left
0      white  0.666239  0.413458  0.570926  0.728232
1      black  0.052431  0.559741  0.029672  0.275942
2      green  0.238792  0.206234  0.595024  0.738214
3       blue  0.258157  0.279205  0.654155  0.093681

In [22]:
ubuntu = pd.read_html("https://id.wikipedia.org/wiki/Ubuntu")

In [27]:
ubuntu[4]

        Versi              Kode nama     Tanggal Perilisan  \
        Versi              Kode nama     Tanggal Perilisan
0        4.10          Warty Warthog            20-10-2004
1        5.04         Hoary Hedgehog            08-04-2005
2        5.10          Breezy Badger            13-10-2005
3    6.06 LTS           Dapper Drake            01-06-2006
4        6.10               Edgy Eft            26-10-2006
5        7.04            Feisty Fawn            19-04-2007
6        7.10           Gutsy Gibbon            08-10-2007
7    8.04 LTS            Hardy Heron            24-04-2008
8        8.10          Intrepid Ibex            30-10-2008
9        9.04       Jaunty Jackalope            23-04-2009
10       9.10           Karmic Koala            29-10-2009
11  10.04 LTS             Lucid Lynx            29-04-2010
12      10.10       Maverick Meerkat            10-10-2010
13      11.04          Natty Narwhal            28-04-2011
14      11.10         Oneiric Ocelot            13-10-2011
15  12.04 LTS       Precise Pangolin            26-04-2012
16      12.10        Quantal Quetzal            18-10-2012
17      13.04        Raring Ringtail            25-04-2013
18      13.10       Saucy Salamander            17-10-2013
19  14.04 LTS            Trusty Tahr            17-04-2014
20      14.10         Utopic Unicorn            23-10-2014
21      15.04           Vivid Vervet            23-04-2015
22      15.10          Wily Werewolf            22-10-2015
23  16.04 LTS           Xenial Xerus            21-04-2016
24      16.10            Yakkety Yak            13-10-2016
25      17.04            Zetsy Zapus            12-04-2017
26      17.10        Artful Aardvark        19-10-2017[73]
27  18.04 LTS          Bionic Beaver        26-04-2018[74]
28      18.10  Cosmic Cuttlefish[75]        18-10-2018[76]
29      19.04        Disco Dingo[77]            ??-04-2019
30      Warna                  Warna                  Arti
31      Merah                  Merah  Sudah tidak didukung
32      Hijau                  Hijau        Masih didukung
33       Biru                   Biru      Rilis masa depan

         Didukung sampai
                 Desktop                Server
0             2006-04-30            2006-04-30
1             2006-10-31            2006-10-31
2             2007-04-13            2007-04-13
3             2009-07-14            2011-06-01
4             2008-04-25            2008-04-25
5             2008-10-19            2008-10-19
6             2009-04-18            2009-04-18
7             2011-05-12               2013-04
8             2010-04-30            2010-04-30
9             2010-10-23            2010-10-23
10            2011-04-30            2011-04-30
11               2013-04               2015-04
12            2012-04-10            2012-04-10
13            2012-10-28            2012-10-28
14            2013-05-09            2013-05-09
15            2017-04-28            2017-04-28
16            2014-05-16            2014-05-16
17            2014-01-27            2014-01-27
18            2014-07-17            2014-07-17
19               2019-04               2019-04
20            2015-07-23            2015-07-23
21            2016-02-04            2016-02-04
22            2016-07-28            2016-07-28
23               2021-04               2021-04
24            2017-07-20            2017-07-20
25            2018-01-13            2018-01-13
26            2018-07-18            2018-07-18
27               2028-04               2028-04
28               2019-07               2019-07
29               2020-01               2020-01
30                  Arti                  Arti
31  Sudah tidak didukung  Sudah tidak didukung
32        Masih didukung        Masih didukung
33      Rilis masa depan      Rilis masa depan

## Reading data From XML

In [28]:
from lxml import objectify

In [39]:
xml = objectify.parse('books.xml')
xml

In [40]:
root = xml.getroot()

In [41]:
root.Book.Author

'Ross, Mark'

In [42]:
root.getchildren()

In [43]:
[child.tag for child in root.Book.getchildren()]

['Author', 'Title', 'Genre', 'Price', 'PublishDate']

In [44]:
[child.text for child in root.Book.getchildren()]

['Ross, Mark', 'XML Cookbook', 'Computer', '23.56', '2014-22-01']

## JSON Data

In [46]:
frame5 = pd.DataFrame(np.arange(16).reshape(4,4),
                     index = ['white', 'blue', 'red', 'black'],
                     columns = ['pen', 'mug', 'album', 'glass'])
frame5

       pen  mug  album  glass
white    0    1      2      3
blue     4    5      6      7
red      8    9     10     11
black   12   13     14     15

In [47]:
frame5.to_json('frame.json')

In [49]:
pd.read_json('frame.json')

       pen  mug  album  glass
black   12   13     14     15
blue     4    5      6      7
red      8    9     10     11
white    0    1      2      3